<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Vue Js</title>

    <!-- https://google.github.io/material-design-icons/#icon-font-for-the-web -->
    <!-- Using via Google Web Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />

    <!-- https://tailwindcss.com/docs/installation -->
    <!-- Using Tailwind via CDN -->
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />

    <link href="styles.css" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">

    <!-- https://v3.vuejs.org/guide/installation.html#release-notes -->
    <!-- Vue CDN -->
    <script src="https://unpkg.com/vue@next"></script>

</head>

<body>
    <div id="app">
        <div class="max-w-3xl mx-auto my-10 space-y-3">
            <h1 class="font-bold text-4xl text-black text-opacity-75">Photo Gallery ( {{ tasks.filter( t => t.done
                ).length }} ) </h1>
            <photo-search :form="form"></photo-search>
            <ul>
                <li v-if="searching.length !== 0" v-for="task in searching">
                    <photo-item :task="task" @when-like="like" @when-toggle="toggleView"></photo-item>
                </li>
                <div v-else class="mt-10 bg-white shadow-lg rounded w-full mx-auto px-auto py-5 flex justify-center">
                    <h2 class="mb-2 text-2xl font-bold text-gray-800">No Photos.</h2>
                </div>
            </ul>
        </div>
        <photo-view :stateviewimg="viewImg" :stateview="View" @close="close"></photo-view>
      
    </div>
    <!-- my main.js -->
    <script src="./main.js"></script>
    <script src="./components/PhotoItem.js"></script>
    <script src="./components/PhotoSearch.js"></script>
    <script src="./components/PhotoView.js"></script>

    <script>
        const mountedApp = app.mount('#app')
    </script>

</body>

</html>